@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.logo-name {
    color: #FF2A34;
}

.main-logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;

    .logo-img {
        width: 100px;
        height: 100px;
    }

    .logo-span {
        font-family: 'Shrikhand', cursive;
        color: #FF2A34;
        font-size: 22px;
    }

}

.logo-image {
    height: 140px;
    width: 140px;
    pointer-events: none;
    background-position: center;
    background-image: url(../images/logo.png);
}

.btn-100 {
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
}

.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.card {
    padding: 64px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    min-width: 500px !important;
    min-height: 600px !important;
}

.icon-cog {
    height: 28px;
    color: #FF2A34;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 120px;
    padding: 24px;

    .search-div {
        max-width: 300px;
        max-height: 24px;

        input {
            border-right: none;
        }

        button {
            background-color: white;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-left: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgb(247, 236, 236);
            /* Add this block, replace with your desired color */
        }
    }
}

.items {
    padding: 12px 12px 0 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 600px) {
    .item-card {
        flex-direction: column;
        align-items: center;
        min-height: 500px !important;

        .item-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.item-card {
    min-height: 200px;
    padding: 24px;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .item-name {
        color: #FF2A34;
    }

    .item-price {
        margin-left: 12px;
        font-weight: bold;
    }

    .item-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding-right: 16px;

        .star-rating {
            color: #FF2A34;
        }

        span {
            width: 100%;
        }
    }

    .item-image-container {
        img {
            height: 150px;
            width: 150px;
            border-radius: 10px;
        }
    }

    @media (max-width: 600px) {
        .item-image-container {
            padding-top: 16px;

            img {
                height: 300px;
                width: 300px;
                border-radius: 5px;
            }
        }
    }

    .options {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.items-category {
    display: flex;
    flex-basis: 200;
    flex-grow: 1;
    padding-top: 26px;
}

.item-card-category {
    height: 150px;
    width: 300px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .item-name {
        color: #FF2A34;
    }

    .options {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

#admin {
    .round-button {
        border-radius: 100%;
        height: 56px;
        width: 56px;

        padding: 10px;
        cursor: pointer;
        border: none;
        font-size: 24px;
    }

    .admin-options {
        padding: 64px;
    }

    .products {
        padding: 26px 12px 0 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.custom-border {
    border: 1px solid gray !important;
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 40px;

    background-color: #fffaf6;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        width: 50%;

    }
    .restaurant-card:hover {
        cursor: pointer;
        background-color: rgb(236, 236, 236);
        transition: background-color 0.3s ease;
    }

    .restaurant-card{
        width: 50vw;

        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;

        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        
        padding: 30px;
    }

    .restaurant-title{
        display: flex;
        align-items: center;

        gap: 25px;
    }
}

#restaurant {
    background-color: #f1f1f1;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        gap: 25px;

        width: 50%;
        height: 20%;
    }

    .item-info-container {
        justify-content: center;
    }

    .item-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.restaurant-logo {
    border-radius: 5px;
    width: 80px !important;
    height: 80px !important;
}

#main-footer {
    border-top: 1px solid black;
    padding-bottom: 35px;
    margin-top: 50px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 35px;

    .footer-logo {
        width: 80px;
        height: 80px;
    }

    span {
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .copyright {
        color: #FF2A34;
    }

    .menumaster-span {
        font-family: 'Shrikhand', cursive;
        color: #FF2A34;
    }

    &:hover {
        cursor: pointer;
    }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 50%;
    min-height: 200px;

    padding: 24px;
    margin-bottom: 40px;

    .search-div {
        max-width: 300px;
        max-height: 24px;

        input {
            border-right: none;
        }

        button {
            background-color: white;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-left: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgb(247, 236, 236);
            /* Add this block, replace with your desired color */
        }
    }
}

#admin {
    background-color: #f1f1f1;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ff858b;
    color: #FF2A34;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ff858b;
    color: #FF2A34;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ff858b;
    color: #FF2A34;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
        background-color: #ff858b;
    }
    50%, 100% {
      background-color: #ff858b33;
    }
  }